@import "tailwindcss";
@import "./leaflet.mapComponent.css" layer(base);
@import "./toogle-theme.css" layer(base);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: light-dark(#2A4093, #2A4093); /* Bleu*/
  --color-secondary: light-dark(#cb4d16, #DD581D); /* Orange */
  --color-accent: light-dark(#268951, #268951); /* Vert */
  --color-dark: light-dark(#0e1a27, #0e1a27);
  /* Variantes de couleurs */
  --color-primary-light: light-dark(#6474ff, #4656e7);
  --color-primary-dark: light-dark(#4252dd, #2434c5);

  /* Couleurs de fond et texte */
  --color-background: light-dark(#ffffff, #0e1a27);
  --color-text: light-dark(#0e1a27, #ffffff);
}

/* Ajouter des thèmes  */
/* ajouter un data-theme="exemple" sur le html */
[data-theme="vert"] {
  --color-primary: light-dark(
    #c2f750,
    #c2f750
  ); /* Vert lime comme couleur principale */
  --color-secondary: light-dark(
    #5363ee,
    #3545d6
  ); /* Bleu royal comme couleur secondaire */
}




h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: "Slackside One", sans-serif;
  font-weight: 400;
}

h1 {
  @apply text-4xl lg:text-8xl; 
}

h2{
  @apply text-4xl lg:text-6xl; 
}

h3{
  @apply text-2xl lg:text-4xl; 
}




.font-title {
font-family: "Slackside One", sans-serif;
  font-weight: 400;
}

.font-permanent-marker {
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
}

.font-paragraphe{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.react-international-phone-input{
  border: none !important;
  height: 100% !important;
  width: 100% !important;
}

.react-international-phone-country-selector-button{
  height: 100% !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  width: 100% !important;
}


.react-international-phone-input-container {
 min-height: 42px !important;
border : 1px solid var(--color-gray-300) !important;
padding: 0px !important;
padding-left: 8px !important;
padding-right: 8px !important;
height: 100% !important;
transition: border 0.2s ease-in-out !important;
}
.react-international-phone-input-container:focus-within{
  border: 2px solid var(--color-secondary) !important;
}

.react-international-phone-country-selector-button{
  
  border: none !important;
  border-right: 1px solid #e0e0e0 !important;
  padding-right:2px !important;
  padding-left:2px !important;
}

